body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(250, 250, 250 );
    background-image: url("../img/back_dash/back2.png");
    
     background-size: 600px;
    
}
#title_flat{
    color: rgb(82, 82, 82);
    font-size: 3.2em;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 38px;
    
}
#logo_page{
  filter: brightness(0.3);
  padding-top: 10px;
  padding-left: 40px;
  transform: scale(2.2);
}

main {
  overflow-y: auto;

  overflow-x: visible;
    flex: 1 0 auto;
    height: 90vh;
}
.negrita{
  font-weight:bold;
  font-size : 20px
}
#datos{
  margin: 0;
  padding: 0;
  font-size: 0.95em;
  text-align: left;
  color: rgb(44, 84, 160);
  line-height: 12px;
  margin-bottom: 20px;
  
}

#try{
  color: black;
  white-space: pre
}
footer{
  z-index: 999;
}
.sf_bottom_bar{
    width: 100%;
    height: 24px;
    background-color: rgba(38, 66, 190, 0.726);
    transition: background-color 0.4s;
    
  }
  #sf_bottom_bar_text{
  width: auto;
  text-align: right;
  margin-top: 2px;
  float: right;
  padding-right: 1cm;
  color: white;
  
  
  }
  #sf_bottom_bar_text_2{
    width: auto;
    text-align: right;
    margin-top: 2px;
    float: right;
    padding-right: 1cm;
    color: white;
    
    
    }
#info_baldosita{
  position: relative;
  float: left;
  color: white;
  border-left: 1px solid white;
  padding-left: 13px;
  width: 88%;
}
#sepline{
  margin-top: 30px;
  width: 100%;
  height: 1px;
  background-color: rgba(248, 248, 248, 0.219);
  position: relative;
  float: left;
}
  *{
      font-family: Calibri Light;
  }


/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #878787db;
  border-radius: 0;
  outline: none;
  height: 2.6rem;
  
  font-size: 1.3rem;
  margin: 10 10 20px 0;
  
  color: rgb(121, 121, 121);
  caret-color: rgb(116, 116, 116);
  

  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: normal;
    src: local('Calibri Light'), url('../fonts/calibril.woff') format('woff');
    }
  
   
    table.highlight > tbody > tr:hover {
        background-color: #3d555e;
        color: white;
        
      }
      thead {
        border-bottom: 1px solid #6c808d;
      }

.searchl{
  background-color:#397ca3;
  border-radius: 25px;
  border: none;
  padding-top: 8px;
  height: 1.1cm;
  width: 1.1cm;
  
}


.lok{
  background-color: rgba(38, 66, 190, 0.726);
  text-align: center;
  
}
#clock_verg{
  
  border-bottom: 1px solid rgb(99, 99, 99);
  width: 230px;
  padding: 0;
  margin: 0;
  padding-top: 28%;
  
}
#clockyd{
    color:rgb(99, 99, 99);
    line-height: 40px;
    font-size: 6.7em;
    padding: 0;
}
#clockyt{
  color:rgb(99, 99, 99);
  
  
  line-height: 0px;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-top: 6px;
}
#divisorr{
  width: 30%;
  height: 1px;
  color:rgb(99, 99, 99);
}

#clockym{
  color:rgb(99, 99, 99);
  line-height: 10px;
  font-size: 2.2em;
  padding: 0;
}
#clockyy{
  color:rgb(99, 99, 99);
  line-height: 28px;
  font-size: 2.6em;
}
.navbar-fixed {
    position: relative;
    height: 40px;
    z-index: 500;
    
  }
  
  .navbar-fixed nav {
    position: fixed;
    
  }
  #logo_page_btn{
    
    background-color: rgba(165, 19, 19, 0);
  }
@media only screen and (min-width: 601px) {
    nav.nav-extended .nav-wrapper {
      min-height: 40px;
    }
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
      height: 40px;
      line-height: 40px;
      
    }
    .navbar-fixed {
      height: 40px;
    }

 
  }
 
 
  .navpers{
      background-color: rgba(135, 199, 82, 0);
      border: none;
      box-shadow: 0px 0px transparent;
  }


  #SIDE_contenedor_user{
    width: 100%;
    height: auto;
   margin-bottom: 30px;
  }
 .veri_text{
   color: rgb(46, 46, 46);
 }
  #SIDE_cu_1{
  
  
  padding-left: 4vh;
  border-right: gray solid 1px;
  height: 100px;
  
  }
  #head_sides{
    width: 100%;
    text-align: right;
    padding-bottom: 3rem;
    padding-top: 0.7rem;
    padding-right: 1.2em;
    
  }
  #imagen_side_user{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.446);
  }
  
  #nombre_user_ingresed{
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    text-align: right;
    margin-right: 12px;
  }
  #tipo_user_ingresed{
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    text-align: right;
    margin-right: 12px;
    color: rgb(44, 84, 160);
    line-height: 8px;
    margin-bottom: 7px;
  }
  
  .opc_user_side
  {
    margin: 0;
    padding: 0;
    float: right;
    color: rgb(0, 0, 0);
    font-size: 1.02em;
    margin-right: 12px;
    cursor: pointer;
    transition: 0.4s;
  }
  .opc_user_side:hover{
  background-color: rgba(237, 237, 237, 0.583);
  box-shadow: 0 0 20px rgba(7, 7, 7, 0.481);
  width: 300px;
  text-align: right;
  margin-right: 10px;
  padding-right: 10px;
  }
  
  #SIDE_notificaciones{
    width: 85%;
    max-width: 90%;
  
    height: 100px;
    
    margin-left: 10%;
    
  }


  a{
    cursor: pointer;
  }
  .lbl_simply{
    margin: 0;
    padding: 0;
    line-height: 11px;
    color: rgb(73, 73, 73);
  }

  #sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.487);
    z-index: 200;
    will-change: opacity;
  }

  #a_nav{
    color: rgb(46, 46, 46);
    cursor: pointer;
    height: 30px;
    font-size: 1.2em;
    width: 140px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    
    float: right;
  }
  #a_nav:hover{
    color: rgb(58, 35, 190);
  }
  #a_nav_2{
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 37px;
    
    width: 140px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    float: right;
    transition: 0.4s;
    border-right: 10px solid rgba(38, 66, 190, 0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  #a_nav_2:hover{
    color: white;
    
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.411);
  }
  
  #menu_plegable{
  
  
  z-index: 800;
  width: 100%;
  height: 100%;
  position: relative;
  top: -200px;
  }
  
  #menu_overlay{
    position: absolute;  
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 150;
    width: 100%;
    height: auto;
    padding-bottom: -500px;
    opacity: 0;
    transition: opacity 2s;
    }
  #welcom_text{
    font-family: Calibri Light;
     
      color: rgb(38, 51, 87);
      font-size: 1.25em;
      line-height: 1em;
    width: 80%;
    
    }
    .container {
      margin: 0 auto;
      max-width: 1280px;
      width: 85%;
    }

    div.drag-target{
    display: none;
    }
    #container_block{
      position: absolute;  
  background-color: rgba(18, 19, 19, 0.849);
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 100px;
    }

    .al{
      color: white;
     
      
    }

    .inter_bald{
      background-color: red;
      width: 20vh;
      height: 20vh;
    }
  a{
    color: rgb(255, 255, 255);
  }
  i{
    color: rgb(82, 82, 82);
  }
  .baldosa{
    text-align: center;
    width: 20vh;
    height: 20vh;
    float: left;
    background-color: rgb(58, 87, 141);
    color: white;
    font-size: 1.1em;
    margin-right: 5px;
    margin-bottom: 5px; 
    padding-top: 3vh;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s, text-shadow 0.4s ;
    transform: scale(1);
    border: 1px solid rgba(0, 0, 0,0);
  }
  .baldosap{
    text-align: center;
    width: 20vh;
    height: 20vh;
    float: left;
    background-color: rgb(68, 105, 224);
    color: white;
    font-size: 1.1em;
    margin-right: 5px;
    margin-bottom: 5px; 
    padding-top: 3vh;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s, text-shadow 0.4s ;
    transform: scale(1);
    border: 1px solid rgba(0, 0, 0,0);
  }

  .baldosa:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 40px rgba(3, 3, 3, 0.514);
    border: 1px solid rgba(247, 247, 247, 0.932);
    text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.863);
  }

.plac_let{
  
  line-height: 1em;
  font-size: 3.6em;
  padding: 0;
  margin: 0;
}
  #return_btn{
    color: white;
    border-left: solid 2px white;
    font-size: 2.12em;
    padding-left: 10px; 
  }

.prefix_log{
  color: white;
  margin: 0;
  padding: 0;
line-height: 10px;
}
.btn, .btn-large,
.btn-flat {
  border: none;
  border-radius: 25px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  
}

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #397ca3;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover, .btn-large:hover {
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.438);
  background-color: #397ca3;
}

#main_principal{
  padding-left: 10%;
  padding-right: 10%;
}



@media only screen and (max-width: 601px) {
 

  #logo_page_btn{
    width: 100%;
    background-color: rgb(73, 109, 175);
    text-align: center;
    
    overflow: hidden;
  }
  #a_nav_2{
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    
    width: 50%;
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 1em;
    
    transition: 0.4s;
    
    border-radius: 0px;
    border-right: 1px solid white;
    background-color: rgb(70, 102, 161);
  }
  #a_nav_2:hover{
    color: white;
    
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.411);
  }
   
  #a_nav{
    color: rgb(46, 46, 46);
    cursor: pointer;
    height: 40px;
    
    width: 50%;
    margin: 0;
    padding: 0;
    
    color: rgb(255, 255, 255);
    cursor: pointer;
    
    font-size: 1em;
    
    width: 50%;
    margin: 0;
    padding: 0;
    
    background-color: rgb(70, 102, 161);
    transition: 0.4s;
    
    text-align: center;
    border-radius: 0px;
    
  }

  #a_nav:hover{
    color: rgb(255, 255, 255);
    box-shadow: -10px 4px 20px rgba(0, 0, 0, 0.411);
  }
  main{
  padding-top: 50px;
  }
  
  #sf_bottom_bar_text_2{
    width: 100%;
    padding-top: 0.1cm;
    text-align: right;
    height: 0.8cm;
    float: right;
    padding-right: 0.7cm;
    color: white;
    background-color: rgb(56, 86, 141);
    font-size: 1.1em;
    margin-top: 0px;
    }
  .sf_bottom_bar{
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(70, 102, 161);
  }
    nav {
      color: #fff;
      background-color: #ee6e73;
      width: 100%;
      height: 56px;
      line-height: 40px;
  }
  #logo_page{
    filter: brightness(1);
    padding-top: 10px;
    transform: scale(1.6);
    padding-left: 0px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a7a7a7b6; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(33, 90, 196, 0.692); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 97, 255, 0.658); 
}

