body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.body404 {
    background-color: #00B9E0;
}

.morado{
    background-color: rgb(98, 52, 121) !important;
}
.morado2{
    background-color: rgb(98, 35, 121) !important;
}