*{
    
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 300px;
}
#face_btn_s{
    width: 24px;
    
    background-color: red;
}
#menu_movv{
    width: 76vw;
    font-size: 1.2em;
    padding-left: 20px;
    height: 56px;
    padding-top: 15px;
    color: white;
    
    border-bottom: 1px solid white;
}
#blockbds{
    display:block;
}
#blockbdmall{
    display:none;
    color:white;
}

.btn_hdd{
color: #FFFFFF;
margin-top: 20px;
padding: 0;
padding-left: 10px;
padding-right: 0px;
margin-top: 20px;
height: 20px;
font-family: calibrily;
}
#grays{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.3s;
}
#grays:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.icoreds
{
    
    cursor: pointer;
    float: right;
 width: 32px;
 padding-left: 5px;
 padding-right: 5px;
 margin-right: 5px;
 transition: 0.3s;
 background-color: rgb(87, 75, 87);
 padding-bottom: 20px;
}
.icoredss
{
    
    cursor: pointer;
    float: right;
 width: 28px;
 padding-left: 5px;
 padding-right: 5px;
 margin-right: 10px;
 transition: 0.3s;
 background-color: rgba(87, 75, 87, 0.00);
 padding-bottom: 20px;
}

.icoreds:hover{
    width: 36px;
}
.btn_hdd_red{
    color: #FFFFFF;
    
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    
    height: 64px;
    }
.btn_hdd:hover{
background-color: rgba(102, 51, 153, 0.00);
color: #A2A2A2;
}
#banner_top{
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    max-width: 1250px;
    height: auto;
    background-color: rgba(40, 40, 40, 0.00);
    color: white;
    text-align: center;
    
}
#panel_cotis{
    z-index: 999;
    position: fixed;
    
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(31, 12, 31, 0.94);
    transition: 0.6s;
    
    
}
#seguros_containerr{
    width: 100%;
    max-width: 680px;
    overflow-y: auto;
    margin-top: 9vh;
    margin-left: 40px;
}
.men{
    color: white;
    padding: 0;
    margin-bottom: 22px;
    padding-bottom: 5px;
    font-size: 1.5em;
    font-weight: lighter;
    
    width: 280px;
}
.backk{
    cursor: pointer;
    color: white;
    padding: 0;
    margin-bottom: 22px;
    padding-bottom: 5px;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 6px solid  rgba(255, 255, 255,0.3);
    width: 130px;
}
.seguro_ico_1 , .seguro_ico_2 , .seguro_ico_3 , .seguro_ico_4{
    transition: 0.5s;
    height: 40px;
    margin-top: 52px;
    
}
.icon_container_1, .icon_container_2, .icon_container_3, .icon_container_4{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.411);
    
    height: 150px;
    width: 30%;
    float: left;
    transition: 0.6s;
}
.seguro_title{
    margin-top: 24px;
    font-size: 1.2em;
}
.seguro_descripcion{
    font-size: 0.9em;
}
.seguro_presiona{
    font-size: 0.8em;
    background-color: rgba(220, 144, 220, 0.22);
    color: rgb(255, 255, 255);
   float: left;
   padding: 0;
   margin: 0;
   width: 100%;
   text-align: center;
   height: 30px;
}
.info_seguro_prev{
    padding-left: 5%;
    background-color: rgba(255, 255, 255, 0.733);
    height: 150px;
    width: 70%;
    float: left;
}
#contenedor_de_seguro{
 margin-top: 5px;
    
    overflow: hidden;
    
    height: 170px;
    transition: box-shadow 0.6s;
    padding-left: 5px;

}
#contenedor_de_seguro:hover{
   box-shadow: 5px 5px 20px rgba(31, 31, 31, 0.274);

}
.botom_img{
    cursor: pointer;
    margin: 0;
    margin-top: 3px;
    width: 100%;
    height: 36px;
    padding-left: 20px;
    padding-top: 6px;
    background-color: #60195D;
    color: white;
    transition: 0.3s;
}
.botom_img_c_p{
    cursor: pointer;
    margin: 0;
    margin-top: 3px;
    width: 100%;
    font-size: 0.9em;
    float: right;
    height: 36px;
    padding-left: 20px;
    padding-top: 6px;
    background-color: #60195D;
    color: white;
    transition: 0.3s;
    
}
.botom_img_c_p_r{
    cursor: pointer;
    margin: 0;
    position: absolute;
    margin-top: 53px;
    z-index: 10;
    width: 50px;

    font-size: 0.9em;
    float: right;
    height: 36px;
    padding-left: 20px;
    padding-top: 6px;
    background-color: #60195D;
    color: white;
    transition: 0.3s;
    
}
.botom_img_static{
    
    margin: 0;
    
    width: 100%;
    height: 36px;
    padding-left: 20px;
    padding-top: 6px;
    background-color: rgba(67, 40, 65, 0.85);
    color: white;
    transition: 0.3s;
    overflow: hidden;
}
.botom_img_static_c_p{
    
    margin: 0;
    
    width: 300px;;
    height: 52px;
    padding-left: 20px;
    padding-top: 6px;
    background-color: rgba(67, 40, 65, 0.85);
    color: white;
    transition: 0.3s;
    
    position: relative;
    bottom: 58px;
    float: right;
    
    z-index: 10;
    
    
}
.botom_img_static_c_p_wha{
    
    margin: 0;
    
    width: 50px;
    height: 52px;
    padding-left: 20px;
    padding-top: 14px;
    background-color: rgb(93, 49, 90);
    color: white;
    transition: 0.3s;
    
    position: relative;
    bottom: 58px;
    float: right;
    
    z-index: 10;
    
    
    
}
.botom_img_static_c_p_props{
    
    margin: 0;
    
    width: 100%;
    height: 42px;
    padding-left: 10px;
    padding-top: 6px;
    background-color: rgba(125, 61, 132, 0.87);
    color: white;
    transition: 0.3s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.41);
    
    
    float: right;
    
    z-index: 10;
    bottom: 96px;
    overflow: ;
}
.botom_img_static_c_p_asegs{
    opacity: 0;
    height: 5px;
    overflow: hidden;
    margin: 0;
    
    width: 100%;
    
    padding-left: 10px;
    padding-top: 6px;
    background-color: rgba(125, 61, 132, 0.87);
    color: white;
    transition: 0.3s;
    
    
    
    float: right;
    
    z-index: 10;
    bottom: 96px;
    overflow: ;
}
.txt_primas{
    position: relative;
    bottom: 10px;
    font-size: 0.8em;
    right: 10px;
    float: right;
}
.botom_img_static_c_p_initial{
    
    margin: 0;
    
    width: 100%;
    height: 48px;
    padding-left: 10px;
    padding-top: 6px;
    
    background-color: rgba(125, 61, 132, 0.87);
    color: white;
    transition: 0.3s;
    
    
    
    float: right;
    
    z-index: 10;
    
    
}
.ribbon_streched{
    
    margin: 0;
    width: 211px;
    height: 70px;
    background-image: url("../img/ico/asegurable_m3.png");
    background-repeat: no-repeat;
    color: white;
    transition: 0.3s;
    position: relative;
    bottom: 190px;
    float: right;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}
.ribbon_streched_prev{
    
    margin: 0;
    width: 211px;
    height: 70px;
    background-image: url("../img/ico/asegurable_m3.png");
    background-repeat: no-repeat;
    color: white;
    transition: 0.3s;
    position: absolute;
    bottom: 0;  
    right: 0;
    
    z-index: 10;
    opacity: 1;
    
    
}
.botom_img:hover , .botom_img_c_p:hover{
 transform: scale(1.05);
    background-color: rgba(108, 43, 106, 0.84);
    color: white;
}
#img_cont{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.00);
    width: 100%;
    height: auto;
    
}
#ribbon{
    position: relative;
    width: 180px;
    top: -160px;
    left: -45px;
    
    
}
#menu_txt_side{
font-size: 1.3em;
margin-left: 38px;
}
#btn_anunciate{
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(114, 31, 100, 0.85);
    text-align: right;
    float: right;
    cursor: pointer;

}
#btn_anunciate:hover{
    background-color: rgba(137, 26, 118, 0.85);
}
#img_cont_detail{
    border: 1px solid rgba(128, 128, 128, 0.72);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    
    background-color: #FFFFFF;
    width: 100%;
    height: 340px;
    
    
}
#img_cont_detail_prop{
    border: 1px solid rgba(128, 128, 128, 0.72);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    
    
}
#btn_lines{
    color: #595959;
    cursor: pointer;
    transition: 0.3s;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    font-family: calibrily;
    font-weight: 400;
}
#btn_lines:hover{
    color: #FFFFFF;
   background-color: #832D6A;
   padding-left: 10px;
}
#img_cont_detai{
height: auto;
}
#log_fot{
    text-align: right;
    
}
#foottt{
    text-align: right;
}
#allrights{
    
    margin: 0;
    padding: 0;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.65);
    
    font-size: 0.8em;
    width: 100%;
    
    text-align: center;
    padding-bottom: 20px;
}

.titles{
    color: rgba(142, 41, 122, 0.76);
    font-weight: bold;
    font-size: 0.9em;
    
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-right: 20px;
    white-space: nowrap;
    margin-bottom: 12px;
}
.maxed{
    color: #2A2A2A;
  
    
}
#fontyce{
    color: #76236E;
    margin-top: 20px;
    margin-bottom: 10px;
}
.title{
    color: #3D2B39;
    font-weight: bold;
    font-size: 1em;
    
    padding: 0;
    margin: 0;
    margin-top: 3px;
    
    text-align: right;
}
.title-le{
    color: #3D2B39;
    font-weight: bold;
    font-size: 1em;
    
    padding: 0;
    margin: 0;
    
    
    text-align: left;
}
.title_2{
    padding: 0;
    margin: 0;
    color: #3F3F3F;
    width: 100%;
    font-size: 1em;
    text-align: left;
    
    
    
}

#banerlat{
max-width: 250px;
}
#banner_side{
    width: 100%;
    margin-top: 20px;
    
    height: auto;
    background-color: #282828;
    color: white;
    text-align: center;
    padding-top: 90px;
}
.btn_hdd2{
    color: #FFFFFF;
    
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: calibrily;
   
    }
.btn_hdd2:hover{
background-color: rgba(102, 51, 153, 0.00);
color: #A2A2A2;
}

#previnfo_vehi{
    background-color: #752678;
    margin: 0;
    padding: 0;
    padding-left: 18px;
    padding-top: 4px;
    padding-bottom: 10px;
}
.proper_ico{
    margin:0;
    padding: 0;
    width: 22px;
    
    z-index: 10;
    margin-left: 10px;
    margin-right: 6px;
    padding-top: 6px;
    float: left;
    
}
.proper_ico_txt{
    
    
 float: left;
 padding-top: 7px;   
}

#name_dir_style{
    color: rgba(255, 255, 255, 0.67);
    width: 100%;
overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.block_proper{
    cursor:default;
    z-index: 10;
    
    position: absolute;
    bottom: 54px;
    right: 0;
}
.block_proper_props{
    cursor:default;
    z-index: 10;
    left: 0;
    
    bottom: 0px;
    
}
.block_name{
    float: left;
}
.icon_prop{
    color: white;
    font-weight: bold;
    float: left;
    width: 60px;
    height: 36px;
    background-color: rgba(65, 31, 58, 0.68);
}
.icon_prop_props{
    color: white;
    font-weight: bold;
    float: left;
    width: 60px;
    height: 38px;
    
}
.hoverable{
    transition: 0.3s;

}
#txt_primas_1{
    opacity: 1;
}
.hoverable:hover{
    transform: scale(1.02);
    
}

.lighty_txt , .boldy_txt{
    line-height: 18px;
    padding: 0;
    margin: 0;
}
.boldy_txt{
    margin-top: 18px;
    margin-bottom: 8px;
font-weight: bold;
font-size: 1.2em;
}


@font-face {
    font-family: calibrily;
    src: url(Calibri-Light.woff);
}

@media only screen and (max-width: 1250px) {
    #ribbon{
        opacity: 0;
    }
    .ribbon_streched{
        opacity: 1;
    }
    #img_cont_detail{
        
    }
    .botom_img_c_p{
        width: 100%;
           
       }
       .botom_img_static_c_p_asegs{
        opacity: 1;
        height: 42px;
        
    }
    #txt_primas_1{
        opacity: 0;
    }
}

@media only screen and (max-width: 1000px) {
   .botom_img_static_c_p{
       width: 100%;
   }
   .botom_img_c_p{
    width: 100%;
    max-width: 999px;   
   }
   .lighty_txt , .boldy_txt{
    
    text-align: center;
}
#btn_anunciate{
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(114, 31, 100, 0.85);
    
    text-align: center;
    cursor: pointer;
width: 100%;
}

  
}

@media only screen and (max-width: 800px) {

    #img_cont_detai{
        height: 350px;
        }
        
        #blockbds{
    display:none;
    }
      #blockbdmall{
    display:block;
    
    }
    #foottt{
        text-align: center;
    }

    .botom_img_static_c_p_props{
        
       
        padding-left: 20vw;
    }
    .txt_primas{
       float: left;
       padding-left: 15vw
    }
 }

 /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    Calender
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#full-calendar {
    padding-top: 30px;
  }
  
  /*.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead
  {
    border-color: rgb(109, 83, 255) !important;
    color: rgb(109, 83, 255) !important;
  }*/
  
  #calendar h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 35px;
  }
  
  #calendar .fc-day-header {
    text-transform: uppercase;
    font-weight: 400;
  }
  
  #external-events {
    padding-top: 50px;
  }
  
  #external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
  }
  
  .fc button {
    background: rgb(117, 38, 120);
    color: white;
    border-color: white;
  }
  
  .fc td {
    /*border-right-width: 0 !important; 
    border-left-width: 0 !important;*/
  }

  
  .fc th {
   /* border-width: 0 !important;*/
  }
  
  .fc-state-active {
    color: #b7bbd1 !important;
  }
  
  .fc-state-down {
    color: #3f51b5 !important;
  }
  /*Tamaño del calendario*/
  #calendario {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  .fc-unthemed td.fc-today
  {
    background: rgb(187, 175, 255) !important;
  }

    .fc-day-grid-container
    {
        overflow: unset !important;
    }

  @media only screen and (max-width: 565px) {

    .fc-view-container
    {
        height: 350px !important;
    }
    .fc-day-grid-container
    {
        height: 336px !important;
    }
    
    .modal.open{
        width: 100%;
        max-height: 100%;
        height: 100%;
        top: 0 !important;
    }

  }
  @media only screen and (max-width: 1000px) {
    #calendario
    {
        width: 90% !important;
    }
  }
